@font-face {
    font-family: myFont;
    src: url(grot.otf);
}

body {
    font-family: 'myFont';
    margin: 0;
    padding: 0;
}

header {
    background-color: #DED0B6;
    padding: 20px;
    text-align: center;
    color: #776B5D;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: justify;

}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 25px;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}